/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 60px;
  font-family: Helvetica;
}

.navbar-brand {
   font-size: 1.5em;
}

.navbar > li {
  width: 80px;
  list-style: none;
  padding: 15px 0;
}

li.active a {
  font-weight: 800;
  background-image: none;
  background-color: none;
}

h1 {
  width: 100%;
  color: #4589bb;
  padding: 20px 0;
  border-bottom: 1px solid #4589bb;
}

.row {
  margin: 20px 0;
}

.col-md-4 {
  width: 25%;
}

#page {
min-height: calc(100vh - 100px);
}

footer {
  border-top: 1px solid #d2d2d2;
  background-color: #eeeeee;
  color: #999;
  padding: 10px 0;
}


